*config.toml
rescrobbled/config.toml
local-covers*
local-covers/*
autosave
cache
command-history
settings.json
.config/sonora/settings.json
/home/aditya_sharma/dotfiles/.config/cmus/lib.pl
*pl
.config/nvim/.neoconf.json
.config/nvim/lazy-lock.json
.config/cmus/search-history
.config/yazi/flavor/flavor.toml
.config/yazi/flavors/flavor.toml
.config/cava/themes/cava-colors
.config/yazi/flavors/matugen.yazi/flavor.toml
